<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728938829891-sv6are52gr2050lgnupbhur7qdr2nehu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728938829891-sv6are52gr2050lgnupbhur7qdr2nehu</string>
	<key>API_KEY</key>
	<string>AIzaSyAly51L1VGlG3BZ00beSV25Pc6_vQiN0Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>728938829891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.tienngay.ctv</string>
	<key>PROJECT_ID</key>
	<string>tienngay-ctv-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>tienngay-ctv-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728938829891:ios:d02f54d6716efa1092dcf6</string>
</dict>
</plist>